@charset "UTF-8";

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

div{
	vertical-align: center;
	text-align: center;
}



#tableMenu {
	margin:auto;
	width: 50%;
	height: 60px;
	text-align: center;
	
}

#u{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border:5px solid #00a99d;
	cursor:pointer;
	color:#000000;
	font-size:20px;
	font-weight:bold;
	padding:40px 40px;
	text-shadow:0px 1px 0px #ffffff;
}

#t{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border:5px solid #00a99d;
	cursor:pointer;
	color:#000000;
	font-size:28px;
	font-weight:bold;
	padding:40px 29px;
	text-shadow:0px 1px 0px #ffffff;
	
}